.card {
    @include theme-block;
    border-radius: $main-border-radius;
}

.card__top {
    padding: 27px $main-x-padding;
    @include media($sm, max) {
        padding: 16px $main-x-padding / 2;
    }
}

.card__bottom {
    padding: 15px $main-x-padding 16px;
    border-top: 1px solid $primary-border-color;
    background-color: $secondary-bg;
    border-radius: 0 0 $main-border-radius $main-border-radius;
    @include media($sm, max) {
        padding: 16px $main-x-padding / 2 16px;
    }
}

.card--offset{
    margin-bottom: $container-gutters;
}