.checkbox{
  display: flex;
  align-items: center;
  cursor: pointer;
  @include focus-within;
}

.checkbox__input{
  @include visually-hidden;
}

.checkbox__check{
  width: 22px;
  height: 22px;
  flex-shrink: 0;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $main-border-color;
  transition: box-shadow .2s ease, border-color .2s ease;
  margin-right: 12px;

  &-icon{
    margin: auto;
    color: $brand-color;
    flex-shrink: 0;
    transition: transform .2s ease, opacity .2s ease;
    transform: rotate(-45deg);
    opacity: 0;
  }
}

.checkbox__input:not([disabled]):checked ~ .checkbox__check{
  border-color: $brand-color;
  box-shadow: 0 0 0 1px $brand-color;
}
.checkbox__input:not([disabled]):checked ~ .checkbox__check .checkbox__check-icon{
  transform: rotate(0);
  opacity: 1;
}

.checkbox__label{
  @include font(16px, 24px);
  color: $main-color;
  @include text-truncate;
}