.header__bottom {
    display: flex;
    align-items: center;
    @include media($sm, max) {
        display: block;
    }
}

.header__title {
    color: $main-color;
}

.header__search {
    width: 336px;
    margin-right: 40px;
    @include media($sm, max) {
        width: 100%;
        margin-bottom: 12px;
    }
}

.header__search-input {
    border-color: $primary-border-color;
}

.header__dropdown {
    width: 130px;
    @include media($sm, max) {
        margin: 0 auto;
    }
}
