.range--inline {
    display: flex;
    align-items: center;
    flex-grow: 1;
    max-width: 217px;
    @include media($xs, max){
        max-width: 100%;
    }
}

.range--inline .range__input{
    @include media($xs, max){
        width: 0;
        flex-grow: 1;
    }
   
}

.range--offset {
    padding-top: 8px;
    @include media($xs, max){
        padding-top: 0;
    }
}

.range__label--left-offset{
    margin-left: 16px;
}

.range__label {
    @include font(16px, 24px);
    @include text-truncate;
    color: $main-color;
    flex-shrink: 0;
    display: block;
    text-align: center;
}

.range__input {
    -webkit-appearance: none;
}

.range__input::-webkit-slider-runnable-track {
    width: 300px;
    height: 3px;
    background: $range-track-bg;
    border: none;
    border-radius: 3px;
}

.range__input::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 19px;
    width: 19px;
    border-radius: 50%;
    background: $brand-bg;
    margin-top: -7px;
}

.range__input:focus {
    outline: none;
}

.range__input:focus::-webkit-slider-runnable-track {
    background: $range-track-active-bg;
}

.range__input {
    border: 1px solid #FFFFFF;
    width: 100%;
}

.range__input::-moz-range-track {
    width: 100%;
    height: 3px;
    background: $range-track-bg;
    border: none;
    border-radius: 3px;
}

.range__input::-moz-range-thumb {
    border: none;
    height: 19px;
    width: 19px;
    border-radius: 50%;
    background: $brand-bg;
}

.range__input:-moz-focusring {
    outline: 1px solid #FFFFFF;
    outline-offset: -1px;
}

.range__input:focus::-moz-range-track {
    background: $range-track-active-bg;
}
.range__input::-ms-track {
    width: 100%;
    height: 3px;
    background: transparent;
    border-color: transparent;
    border-width: 6px 0;

    /*remove default tick marks*/
    color: transparent;
}
.range__input::-ms-fill-lower {
    background: $brand-bg;
    border-radius: 10px;
}
.range__input::-ms-fill-upper {
    background: $brand-bg;
    border-radius: 10px;
}
.range__input::-ms-thumb {
    border: none;
    height: 19px;
    width: 19px;
    border-radius: 50%;
    background: $brand-bg;
}
.range__input:focus::-ms-fill-lower {
    background: $brand-bg;
}
.range__input:focus::-ms-fill-upper {
    background: $range-track-active-bg;
}
