.range--inline {
    display: flex;
    align-items: center;
    flex-grow: 1;
    max-width: 217px;
    @include media($xs, max){
        max-width: 100%;
    }
}

.range--inline .range__input{
    @include media($xs, max){
         width: 0;
    flex-grow: 1;
    }
   
}

.range--offset {
    padding-top: 8px;
    @include media($xs, max){
        padding-top: 0;
    }
}

.range__label--left-offset{
    margin-left: 16px;
}

.range__label {
    @include font(16px, 24px);
    @include text-truncate;
    color: $main-color;
    flex-shrink: 0;
    display: block;
    text-align: center;
}

.range__input {
    width: 100%;
    flex-shrink: 0;
    padding: 8px 0;
    background-color: transparent;
    -webkit-appearance: none;
    appearance: none;
    overflow: hidden;
}

.range__input:focus {
    @include focus;
}

.range__input::-webkit-slider-runnable-track {
    background-color: $brand-bg;
    border: 0;
    width: 100%;
    height: 3px;
    border-radius: 1.5px;
    cursor: pointer;
}

.range__input::-webkit-slider-thumb {
    margin-top: -8px;
    width: 19px;
    height: 19px;
    background-color: $brand-bg;
    border: 0;
    border-radius: 8.5px;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
}

.range__input:focus::-webkit-slider-runnable-track {
    background-color: $brand-bg;
}

.range__input::-moz-range__input-track {
    background-color: $brand-bg;
    border: 0;
    width: 100%;
    height: 3px;
    cursor: pointer;
}

.range__input::-moz-range__input-thumb {
    width: 19px;
    height: 19px;
    background-color: $brand-bg;
    border: 0;
    border-radius: 8.5px;
    cursor: pointer;
}

.range__input::-ms-track {
    background-color: transparent;
    border-color: transparent;
    border-width: 8px 0;
    color: transparent;
    width: 100%;
    height: 3px;
    cursor: pointer;
}

.range__input::-ms-fill-lower {
    background-color: $brand-bg;
    border: 0;
}

.range__input::-ms-fill-upper {
    background-color: $brand-bg;
    border: 0;
}

.range__input::-ms-thumb {
    width: 19px;
    height: 19px;
    background-color: $brand-bg;
    border: 0;
    border-radius: 8.5px;
    cursor: pointer;
    margin-top: 0px;
}

.range__input:focus::-ms-fill-lower {
    background-color: $brand-bg;
}

.range__input:focus::-ms-fill-upper {
    background-color: $brand-bg;
}

@supports (-ms-ime-align: auto) {
    .range__input {
        margin: 0;
    }
}

